---

---
<footer>
    <p>© 2024 by Chechu - All rights reserved</p>
    <p>Developed and designed by me</p>
</footer>
<style>
    footer {
        color: var(--subtitle-color);
        text-align: center;
        padding: 2em 0;
        bottom: 0;
        width: 100%;
    }

    footer a {
        color: var(--title-color);
        text-decoration: none;
    }

    @media print {
        footer {
            page-break-inside: avoid;
        }
    }
</style>