---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<div class="mx-auto !max-w-[120ch] font-light mb-10">
    <h3 class="font-normal text-4xl text-center py-5">{title}</h3>
    <div class="dark:text-slate-400">
        <slot/>
    </div>
</div>
<style>
    .section {
        margin-bottom: 2rem;
        margin-inline: auto; 
        position:relative;
    }

    .section h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .content {
        font-family: "Inter", sans-serif;
    }



    @media print {
        .section {
            width: 100%;
        }
    }
</style>